

<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='libraries/jquery.geocomplete.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ mapsAPIKey }}&callback=initMaps&libraries=places"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="centered-body">
            <div class="home-container">
                <header data-role="Header" class="home-header">
                    <img
                        alt="logo"
                        src="{{ url_for('static', filename='images/vasttrafik_logga.svg') }}"
                        loading="lazy"
                        class="home-image"
                    />
                    <h1>Västtrafik microbilitet</h1>
                </header>

                <form id="inputForm" action="/" method="POST">
                    {% block form %}{% endblock %}
                </form>
                
                <div class="home-container7 list">
                    {% block trips %}{% endblock %}
                </div>
            </div>
        </div>
    </body>  
</html>
