{% extends 'base.html' %}


{% block head %}
    <title>Micromobility</title>
{% endblock %}


{% block form %}
    <div class="home-container1">
        <div class="home-container2">
            <span class="home-till">
                <span>Till</span>
                <br />
            </span>
            <input type="text" placeholder="Chalmers" required class="input" name="startLocation" id="startLocation" value="{{ searchedTrip.startLocation }}"/>
        </div>
        <div class="home-container3">
            <span class="home-frn">
                <span>Från</span>
                <br />
            </span>
            <input type="text" placeholder="Korsvägen" required class="input" name="destinationLocation" id="destinationLocation" value="{{ searchedTrip.destinationLocation }}"/>
        </div>
        <div class="home-container4">
            <span class="home-instllningar">
                <span>Inställningar</span>
                <br />
            </span>
            <div class="home-container5">
                <input type="checkbox" class="home-checkbox" name="opt1" id="opt1" {% if searchedTrip.opt1 %} checked {% endif %}/>
                <span class="home-text7">Placeholder</span>
            </div>
            <div class="home-container6">
                <input type="checkbox" class="home-checkbox1" name="opt2" id="opt2" {% if searchedTrip.opt2 %} checked {% endif %}/>
                <span class="home-text8">Placeholder</span>
            </div>
        </div>
        <input type="submit" value="Sök Resa">
    </div>
{% endblock %}


{% block trips %}
    {% for trip in trips %}
        <div class="tripItem">{{ trip }}</div>
    {% endfor %}

    {% if (noTripSearchedError != None) %}
        <div style="width: 100%">
            <center>
                <h3>{{ noTripSearchedError }}</h3>
            </center>
        </div>
    {% endif %}
{% endblock %}