{% extends 'base.html' %}


{% block head %}
    <title>Delad Mikromobilitet</title>
    <!-- Loading jquerry -->
    <script src="{{ url_for('static', filename='libraries/jquery.geocomplete.js') }}"></script> 
    <!-- Loading Google autcomplete -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ mapsAPIKey }}&callback=initMaps&libraries=places"></script>
{% endblock %}

{% block body %}
    <form id="inputForm" action="/" method="POST">
        <div class="home-container1">
            <div class="home-container2">
                <span class="searchtitle">
                    <span>Från</span>
                    <br />
                </span>
                <div class="input-group">
                    <input type="search" name="startLocation" id="startLocation" placeholder="Chalmers" value="{{ searchedTrip.startLocation }}" required>
                </div>
            </div>
            <div class="home-container3">
                <span class="searchtitle">
                    <span>Till</span>
                    <br />
                </span>
                <div class="input-group">
                    <input type="search" name="destinationLocation" id="destinationLocation" placeholder="Korsvägen" value="{{ searchedTrip.destinationLocation }}" required>
                </div>
            </div>
            <div class="searchsettings">
                <span class="home-instllningar">
                    <span class="searchtitle">
                        <span>Inställningar</span>
                        <br />
                    </span>
                </span>
                <div class="checkbox-container">
                    <div class="checkbox-wrapper-3">
                        <input type="checkbox" name="opt1" id="opt1" aria-label="opt1" {% if searchedTrip.opt1 %} checked {% endif %}/>
                        <label for="opt1" class="toggle"><span></span></label>
                    </div>
                    <span class="home-text7">Styr&Ställ</span>
                </div>
                <div class="checkbox-container">
                    <div class="checkbox-wrapper-3">
                        <input type="checkbox" name="opt2" id="opt2" aria-label="opt2" {% if searchedTrip.opt2 %} checked {% endif %}/>
                        <label for="opt2" class="toggle"><span></span></label>
                    </div>
                    <span class="home-text8">Voi</span>
                </div>
            </div>
            <div>
                <!-- hiddent input fields to store and submit start and destination coords -->
                <input type="hidden" name="startLocationCoords" id="startLocationCoords" value="{{ searchedTrip.startLocationCoords }}"/>
                <input type="hidden" name="destinationLocationCoords" id="destinationLocationCoords" value="{{ searchedTrip.destinationLocationCoords }}"/>
            </div>
            <button type="submit" class="form-control" onclick="submitTrip()">Sök resa</button>
            <!-- <input type="submit" value="Sök Resa" id="find"> -->
        </div>
    </form>

    <hr>

    <div class="home-container7 list">

    {% for trip in trips %}
        {% if ((trip['travelMode'] == 'tram') or (searchedTrip['opt1'] and (trip['travelMode'] == 'bike')) or (searchedTrip['opt2'] and (trip['travelMode'] == 'voi'))) %}
            <!-- <a href="detailedTrip.html?tripIndex={{trips.index(trip)}}" class="tripButton"> -->
            <!-- <a href="detailedTrip.html?tripIndex={{trips.index(trip)}}" class="trip-container-container tripButton"> -->
            <a href="/detailedTrip/tripIndex={{trips.index(trip)}}" class="trip-container-container tripButton">
                <div class="trip-container-container1">
                    <div class="trip-container-container2">
                        <div class="trip-container-location">
                            <span class="trip-container-text">
                                <!-- <img src="{{ url_for('static', filename='images/mapicons/' + (trip['travleModeList'][0] + '.png')) }}" alt="" style="height: 22px;"> -->
                                {% for mode in trip['travleModeList'] %}
                                    <img src="{{ url_for('static', filename='images/mapicons/' + (mode + '.png')) }}" alt="travlemode" style="height: 22px;">
                                {% endfor %}
                                <span>  {{ searchedTrip.startLocation.split(",")[0] }} - {{ searchedTrip.destinationLocation.split(",")[0] }}</span>
                            </span>
                            <div class="trip-container-time">
                                <div class="trip-container-container3">
                                    <span class="trip-container-text1"><span>{{ trip['departure'] }}</span></span>
                                    <span class="trip-container-text2"><span>-</span></span>
                                    <span class="trip-container-text3"><span>{{ trip['arrival'] }}</span></span>
                                </div>
                                <span class="trip-container-text4"><span>{{ trip['duration'] }} minuter</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="trip-container-container4">
                        <span class="trip-container-text5"><span>Pris: {{ trip['cost'] }}:-</span></span>
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %} 

        {% if (noTripSearchedError != None) %}
            <div style="width: 100%">
                <center>
                    <h3 id="noTripsText">{{ noTripSearchedError }}</h3>
                </center>
            </div>
        {% endif %}
    </div>
{% endblock %}
