{% extends 'base.html' %}


{% block head %}
    <title>Micromobility</title>
{% endblock %}


{% block form %}
    <div class="home-container1">
        <div class="home-container2">
            <span class="searchtitle">
                <span>Från</span>
                <br />
            </span>
            <div class="input-group">
                <input type="search" name="startLocation" id="startLocation" placeholder="Chalmers" value="{{ searchedTrip.startLocation }}" required>
            </div>
        </div>
        <div class="home-container3">
            <span class="searchtitle">
                <span>Till</span>
                <br />
            </span>
            <div class="input-group">
                <input type="search" name="destinationLocation" id="destinationLocation" placeholder="Korsvägen" value="{{ searchedTrip.destinationLocation }}" required>
            </div>
        </div>
        <div class="searchsettings">
            <span class="home-instllningar">
                <span class="searchtitle">
                    <span>Inställningar</span>
                    <br />
                </span>
            </span>
            <div class="checkbox-container">
                <div class="checkbox-wrapper-3">
                    <input type="checkbox" name="opt1" id="opt1" {% if searchedTrip.opt1 %} checked {% endif %}/>
                    <label for="opt1" class="toggle"><span></span></label>
                </div>
                <span class="home-text7">Placeholder</span>
            </div>
            <div class="checkbox-container">
                <div class="checkbox-wrapper-3">
                    <input type="checkbox" name="opt2" id="opt2" {% if searchedTrip.opt2 %} checked {% endif %}/>
                    <label for="opt2" class="toggle"><span></span></label>
                </div>
                <span class="home-text8">Placeholder</span>
            </div>
        </div>
        <button type="submit" class="form-control">Sök resa</button>
    </div>
{% endblock %}


{% block trips %}
    {% for trip in trips %}
        <!-- _<div class="tripItem">{{ trip }}</div> -->

        <div class="trip-container-container">
            <div class="trip-container-container1">
                <div class="trip-container-container2">
                    <div class="trip-container-location">
                        <span class="trip-container-text"><span>{{ searchedTrip.startLocation }}</span></span>
                    </div>
                    <div class="trip-container-time">
                        <div class="trip-container-container3">
                        <span class="trip-container-text1"><span>Time start</span></span>
                        <span class="trip-container-text2"><span>-</span></span>
                        <span class="trip-container-text3"><span>Time finish</span></span>
                        </div>
                        <span class="trip-container-text4"><span>Duration</span></span>
                    </div>
                </div>
                <div class="trip-container-container4">
                <span class="trip-container-text5"><span>Trip Output</span></span>
                </div>
            </div>
        </div>

          
    {% endfor %}

    {% if (noTripSearchedError != None) %}
        <div style="width: 100%">
            <center>
                <h3>{{ noTripSearchedError }}</h3>
            </center>
        </div>
    {% endif %}
{% endblock %}